# Entorno virtual
.venv/
venv/

# Archivos de Python temporales
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Otros
*.log
*.sqlite
*.swp
.DS_Store
# IDE
.idea/
.vscode/

.idea/SISTEMAS LINEALES.iml
.idea/workspace.xml
.idea/misc.xml
